.CodeRay {
  background-color: #383838;
  border: 1px solid #383838;
  color: #d8d8d8;
}
.CodeRay pre {
  margin: 0px;
  background-color: #383838;
  border: 1px solid #383838;
}

span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px;
}

table.CodeRay {
  border-collapse: collapse;
  width: 100%;
  padding: 2px; }
table.CodeRay td {
  padding: 2px 4px;
  vertical-align: top;
}

.CodeRay .line-numbers {
  background-color: #383838;
  color: #808080;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.CodeRay .line-numbers pre {
  word-break: normal;
}
.CodeRay span.line-numbers { padding: 0px 4px; }
.CodeRay .line { display: block; float: left; width: 100%; }
.CodeRay .code { width: 100%; }

.CodeRay .comment,
.CodeRay .char .delimiter,
.CodeRay .regexp .delimiter,
.CodeRay .string .delimiter { color: #808080; }

.CodeRay .binary,
.CodeRay .constant,
.CodeRay .predefined-constant,
.CodeRay .float,
.CodeRay .hex,
.CodeRay .integer,
.CodeRay .octal,
.CodeRay .symbol { color: #ffb870; }

.CodeRay .type,
.CodeRay .class,
.CodeRay .pseudo-class { color: #ffff88; }

.CodeRay .char,
.CodeRay .regexp,
.CodeRay .string { color: #c87878; }

.CodeRay .keyword { color: #88d8d8; }

.CodeRay .function { color: #90d090; }

.CodeRay .attribute-name { color: #90d090; }

.CodeRay .tag { color: #90d090; }

.CodeRay .insert { color: #90d090; }
.CodeRay .delete { color: #c87878; }
.CodeRay .change { color: #88d8d8; }
.CodeRay .head { color: #ffff88; }
