.CodeRay {
  border: none;
  color: #{{ .fg }};
  background-color: #{{ .bg }};
}

.CodeRay pre {
  margin: 0;
  border: none;
  background-color: transparent;
}

span.CodeRay {
  white-space: pre;
  padding: 2px;
  border: none;
}

.CodeRay .line {
  display: block;
  float: left;
  width: 100%;
}

table.CodeRay {
  width: 100%;
  padding: 2px;
  border-collapse: collapse;
}

table.CodeRay td {
  padding: 2px 4px;
  vertical-align: top;
}

.CodeRay .line-numbers {
  text-align: right;
  color: #{{ .comment }};
  background-color: #{{ .bg }};
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.CodeRay .line-numbers pre { word-break: normal; }

.CodeRay span.line-numbers { padding: 0 4px; }

.CodeRay .code { width: 100%; }

.CodeRay .comment,
.CodeRay .char .delimiter,
.CodeRay .regexp .delimiter,
.CodeRay .string .delimiter { color: #{{ .comment }}; }

.CodeRay .binary,
.CodeRay .constant,
.CodeRay .predefined-constant,
.CodeRay .float,
.CodeRay .hex,
.CodeRay .integer,
.CodeRay .octal,
.CodeRay .symbol { color: #{{ index .colors .constant }}; }

.CodeRay .type,
.CodeRay .class,
.CodeRay .pseudo-class { color: #{{ index .colors .type }}; }

.CodeRay .char,
.CodeRay .regexp,
.CodeRay .string { color: #{{ index .colors .string }}; }

.CodeRay .keyword { color: #{{ index .colors .keyword}}; }

.CodeRay .function { color: #{{ index .colors .function }}; }

.CodeRay .attribute-name { color: #{{ index .colors .attr }}; }

.CodeRay .tag { color: #{{ index .colors .attr }}; }

.CodeRay .insert { color: #{{ index .colors .diff.ins }}; }
.CodeRay .delete { color: #{{ index .colors .diff.del }}; }
.CodeRay .change { color: #{{ index .colors .diff.chg }}; }
.CodeRay .head { color: #{{ index .colors .diff.head }}; }
