.CodeRay {
  border: none;
  color: #d8d8d8;
  background-color: #383838;
}

.CodeRay pre {
  margin: 0;
  border: none;
  background-color: transparent;
}

span.CodeRay {
  white-space: pre;
  padding: 2px;
  border: none;
}

.CodeRay .line {
  display: block;
  float: left;
  width: 100%;
}

table.CodeRay {
  width: 100%;
  padding: 2px;
  border-collapse: collapse;
}

table.CodeRay td {
  padding: 2px 4px;
  vertical-align: top;
}

.CodeRay .line-numbers {
  text-align: right;
  color: #808080;
  background-color: #383838;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.CodeRay .line-numbers pre { word-break: normal; }

.CodeRay span.line-numbers { padding: 0 4px; }

.CodeRay .code { width: 100%; }

.CodeRay .comment,
.CodeRay .char .delimiter,
.CodeRay .regexp .delimiter,
.CodeRay .string .delimiter { color: #808080; }

.CodeRay .binary,
.CodeRay .constant,
.CodeRay .predefined-constant,
.CodeRay .float,
.CodeRay .hex,
.CodeRay .integer,
.CodeRay .octal,
.CodeRay .symbol { color: #ffb870; }

.CodeRay .type,
.CodeRay .class,
.CodeRay .pseudo-class { color: #ffff88; }

.CodeRay .char,
.CodeRay .regexp,
.CodeRay .string { color: #c87878; }

.CodeRay .keyword { color: #88d8d8; }

.CodeRay .function { color: #90d090; }

.CodeRay .attribute-name { color: #90d090; }

.CodeRay .tag { color: #90d090; }

.CodeRay .insert { color: #90d090; }
.CodeRay .delete { color: #c87878; }
.CodeRay .change { color: #88d8d8; }
.CodeRay .head { color: #ffff88; }
